footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 100px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.keyboard-column {
  width: 42px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.enter {
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.backspace {
  width: 70px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.backspace img {
  width: 25px;
  height: 25px;
}
